body {
}
.compass-rose {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    text-align: center;
}

    .compass-rose .cell {
        min-width: 80px;
        text-align: center;
    }

.play-movement {
    width: 250px;
    background: #111;
    color: #fff;
    padding: 1rem;
    padding-left: 1.5rem;
    align-content: center;
    border-right: 2px solid #333;
}
